* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 15px;
}

/* Variables */
:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}



.main_container {
    display: flex;
    margin: 100px;
    height: 400px;
    
    
}

.sedan_container {
    background-color: var(--Bright-orange);
    padding: 20px;

}

.icon {
    margin: 20px;

}

.suv_container {
    background-color: var(--Dark-cyan);
    padding: 20px;
}

.luxury_container {
    background-color: var(--Very-dark-cyan);
    padding: 20px;
}

.heading {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--Very-light-gray);
    margin: 20px;
}

p {
    font-family: 'Big Shoulder Display', sans-serif;
    color: var(--Transparent-white);
    margin: 20px;
}